- if group.extra_picture.url
  - content_for(:extra_pic) do
    .extrapic
      = image_tag group.extra_picture.url(:original)
.col-md-3.col-sm-3
  .row
    .group-wrapper.side-tex
      %h5
        %a{href: "/"}

          = "Regresar a inicio"


    - parents(group).each do | group|
      .group-wrapper.side
        = link_to shop_group_path(:link => group.link) do
          = image_tag group.main_picture.url(:product)
          %h5= group.name

      .intro-text
        %p.description
          = markdown group.summary

    .intro2.group-wrapper.side
      = link_to shop_group_path(:link => group.link) do
        = image_tag group.main_picture.url(:product)
        %h5= group.name
    .intro-text
      %p.description
        = markdown group.summary
        = markdown group.description

  .row
    .shipping-info.frame
      %a{href: "/page/howto"}
        %h5.highlight
          "¿Cómo comprar?"
