.row
  %hr
  .col-md-3
    %h4.highlight
      = "Tipo de pago"

  .col-md-9
    .row
      .col-md-9
        %h4 Recuerde que el pago se hace personalmente en caja.
        %p
        = "Total a pagar: "
        %b= number_to_currency order.total_price


    %div
      %br/
      %b
        Al llegar a caja mencione su número de orden para relacionar la compra y poder realizar el pago correspondiente.
      %p
      = "Numero de orden: "
      %b= order.number
