.row
  .col-md-3
    .group-wrapper.side.checkout
      =image_tag "sales_clerk/checkout-im.jpg"
      %h5 Historial de compras

  .col-md-9
    .row
      .col-md-6
        %i
          %h4.highlight= "Última orden"
      = render :partial => "order_9" , :locals => { :order => @last }
    .col-md-6
      %b.hide
        ="Para cuando se implementen más tipos de envios."
        =t(:choosen_shipment) +" :"
        = shipping_method(@last.shipment_type).name
      %b
        \
        -if @last.paid_on
          = "Orden entregada"
        -else
          = "Tipo de envío: Recoger en caja"
      %br
        = [ @last.name ,   @last.street,   @last.city ,  @last.phone  ].join(", ")
    .col-md-6
      %b
        = "Pagado el:"
        \
        -if @last.paid_on
          = date(@last.paid_on)
        -else
          = "Pendiente por pagar"

.row
  %hr
  .col-md-3
    %h4.highlight= "Ordenes anteriores"

-@orders.each do |order|
  .row
    %br
    .col-md-3
      %b= date order.ordered_on
      %br
      %br
      %b
        = "Pagado el:"
        \
        -if order.paid_on
          = date(order.paid_on)
        -else
          = "Pendiente por pagar!!!"
      %br
      %b
        \
        -if order.paid_on
          = "Orden entregada"
        -else
          = "Recoger en caja"
      %br
      = "Orden por: "
      = order.name
      %br
      = order.street
      %br
      = order.city
      %br
      =order.phone

    .col-md-9
      = render :partial => "order_9" , :locals => { :order => order }
  %hr
