.row
  =image_tag  "sales_clerk/spacer.gif"

  .receipt.no-screen
    #header
      = image_tag "receipt-logo.gif"
      %br/
      %br/
      .shop
        Auringosta Itään, Kuusta Länteen
      .info
        Fredrikinkatu 19 (Viiskulma)
        %br/
        00120 Helsinki

%hr       
.row
  .col-md-3.no-print
    .group-wrapper.side.checkout
      =image_tag  "sales_clerk/checkout-im.jpg"
      %h5= t(:order_confirmation)

  .col-md-9
    .row
      .col-md-6
        %i 
          %h4.highlight=t(:order_thanks)
      .col-md-6.text-right
        %h4.highlight= t(:order_confirmation) 
      = render :partial => "order_9" , :locals => { :order => @order }
        
= render :partial => 'payment_stripe', :locals => { :order => @order }
    
.row
  %hr 
  .col-md-3
    %h4.highlight
      = t(:contact_details)

  .col-md-9
    .row
      .col-md-6
        %h4= t(:shipping_address)     
        = @order.name
        %br 
        = @order.street
        %br 
        = @order.city
        %br 
        puh 
        =@order.phone
        %br 
        = @order.email   
  
      .col-md-5
        %h4= t(:order_history)
        =t(:previous_orders_here)
        = link_to shop_history_path , shop_history_path
        
-unless current_clerk
  .row
    %hr 
    .col-md-3
      %h4.highlight= t(:register)

    .col-md-9
      .row
        .col-md-5
          %h4= t(:register)
          = t(:register_text)
          %br
          %br
          %b Rekisteröitymisen edut
          %br
          – voit jälkikäteen tarkastella tilaushistoriaasi
          %br
          – yhteystietosi tallentuvat; ensi kerralla ostaessasi sinun ei tarvitse täyttää niitä uudelleen.
          %br
          Emme luovuta asiakkaiden tietoja ulkopuolisille.
        
        .col-md-1  
        .col-md-5  
          = bootstrap_form_for @clerk , :url => office.sign_up_path  do |f|
            = hidden_field(:clerk, :email)
            .form-group
              = f.password_field :password
            .form-group
              = f.password_field :password_confirmation
            = f.submit :class => "btn btn-primary" , :text => t(:register) , :id => :submit
        
        

        
